<div class="navbar">
    <div class="menu">
        <div fxLayout="row" class="nav-menu">
            <mat-sidenav-container
            class="example-container" (backdropClick)="close('backdrop')">
          <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
            <div class="main-container">
                <div class="fixed-container">
                  <div fxLayout="row" fxLayoutAlign="space-between center" class="front">
                    <button mat-button (click)="close('toggle button')"><mat-icon>menu</mat-icon></button>
                    <img  src="assets/youtube-logo.jpg" alt="" height="50px" width="150px">
                </div>
                </div>
                <div class="content-wrapper">
                  <div class="overflow-container">
                    <div class="overflow-content">
                      <ul class="sidenav-items sidenavitems1">
                        <li class="sidenav-item sidenavitem1" *ngFor="let item1 of sidenavitems1" >
                            <a fxLayout="row" fxLayoutAlign="start center" routerLink="/{{item1.name|lowercase}}" routerLinkActive='active'><mat-icon>{{item1.icon}}</mat-icon><p>{{item1.name}}</p></a>
                        </li>     
                    </ul>
                    <mat-divider></mat-divider>
                    <ul class="sidenav-items sidenavitems2">
                        <li class="sidenav-item sidenavitem2" *ngFor="let item2 of sidenavitems2" >
                            <a href="" fxLayout="row" fxLayoutAlign="start center"><mat-icon>{{item2.icon}}</mat-icon><p>{{item2.name}}</p></a>
                        </li>
                    </ul>
                    <mat-divider></mat-divider>
                    <ul class="sidenav-items sidenavitems2">
                        <li class="sidenav-item sidenavitem2">
                            <h4>Subscriptions</h4>
                        </li>
                    </ul>
                    <mat-divider></mat-divider>
                    <ul class="sidenav-items sidenavitems3">
                        <h4>More From Youtube</h4>
                        <li class="sidenav-item sidenavitem3" *ngFor="let item3 of sidenavitems3">
                            <a href="" fxLayout="row" fxLayoutAlign="start center"><mat-icon>{{item3.icon}}</mat-icon><p>{{item3.name}}</p></a>
                        </li>
                    </ul>
                    <mat-divider></mat-divider>
                    <ul class="sidenav-items sidenavitems4">
                        <li class="sidenav-item sidenavitem4" *ngFor="let item4 of sidenavitems4">
                            <a href="" fxLayout="row" fxLayoutAlign="start center"><mat-icon>{{item4.icon}}</mat-icon><p>{{item4.name}}</p></a>
                        </li>
                    </ul>
                    </div>
                  </div>
                </div>
              </div>
        </mat-sidenav>      
            <mat-sidenav-content >
            <div  fxLayout="row" class="side-nav-content" >
                <div fxLayout="row"  fxFlex="25" >
                    <button mat-button (click)="sidenav.open()" fxHide.xs><mat-icon>menu</mat-icon></button>
                    <img src="assets/youtube-logo.jpg" alt="" style="height:50px; width: 150px;">
                </div>
                <div fxFlex="50"  fxLayout="row" fxLayoutAlign="start stretch" fxLayoutAlign.xs="end center" style="height: 40px;" fxHide.xs>
                    <input id="search-input" fxFlex='80' type="text" ng-model="search"/>
                    <button class="md-icon-button" fxFlex='10' ng-click="ctrl.endSearch()">
                        <mat-icon>search</mat-icon>
                    </button>
                    <a href=""class="md-icon-button" fxFlex='10' ng-click="ctrl.endSearch()" fxHide.gt-xs>
                        <mat-icon>search</mat-icon>
                    </a>
                    <button mat-icon-button fxFlex='8' fxHide.xs>
                        <mat-icon>keyboard_voice</mat-icon>
                    </button>
                </div>
                <div fxFlex="50"  fxLayout="row" fxLayoutAlign="start stretch" fxLayoutAlign.xs="end center" fxHide.gt-xs>
                    <a href=""class="md-icon-button" fxFlex='10' ng-click="ctrl.endSearch()" >
                        <mat-icon>search</mat-icon>
                    </a>
                </div>
                <div class="end-items" fxFlex="25" fxLayout="row" fxLayoutAlign="space-around center" fxHide.xs >
                    <button  mat-button [matMenuTriggerFor]="beforeMenu1" fxHide.xs><mat-icon>video_camera_back</mat-icon></button>
                    <mat-menu class="end-button-1" #beforeMenu1="matMenu" xPosition="after">
                        <button mat-menu-item *ngFor="let item of create"><mat-icon>{{item.icon}}</mat-icon>{{item.name}}</button>
                    </mat-menu>
                    <button  mat-button [matMenuTriggerFor]="beforeMenu2" fxHide.xs fxHide.sm><mat-icon>apps</mat-icon></button>
                    <mat-menu class="end-button-2" #beforeMenu2="matMenu" xPosition="before">
                        <button mat-menu-item *ngFor="let item of youtubeapps"><mat-icon>{{item.icon}}</mat-icon>{{item.name}}</button>
                    </mat-menu>
                    <button mat-button [matMenuTriggerFor]="beforeMenu3"><mat-icon>notifications</mat-icon></button>
                    <mat-menu  class="end-button-3" #beforeMenu3="matMenu" xPosition="before">
                        <h3 style="text-align: center;">NO NOTIFICATION</h3>
                    </mat-menu>
                    <button mat-button [matMenuTriggerFor]="beforeMenu4"><mat-icon>account_circle</mat-icon></button>
                    <mat-menu  class="end-button-4" #beforeMenu4="matMenu" xPosition="before">
                        <div><h3 style="text-align: center;">USER ACCOUNT</h3></div>
                        <div>
                            <button mat-menu-item *ngFor="let item of signin1"><mat-icon>{{item.icon}}</mat-icon>{{item.name}}</button>
                            <mat-divider></mat-divider>
                            <button mat-menu-item *ngFor="let item of signin2"><mat-icon>{{item.icon}}</mat-icon>{{item.name}}</button>
                        </div>
                    </mat-menu>
                </div>
                <!-- this is for mobile************************************ -->
                <div fxHide.gt-xs fxLayout="row" fxLayoutAlign="end center" class="end-button" >
                    <button mat-button [matMenuTriggerFor]="beforeMenu3"><mat-icon>notifications</mat-icon></button>
                    <mat-menu class="end-button-3" #beforeMenu3="matMenu" xPosition="before">
                      <h3 mat-menu-item style="text-align: center;">NO NOTIFICATION</h3>
                    </mat-menu>
                    <button mat-button [matMenuTriggerFor]="beforeMenu4"><mat-icon>account_circle</mat-icon></button>
                    <mat-menu  class="end-button-4" #beforeMenu4="matMenu" xPosition="before">
                        <div><h3 style="text-align: center;">USER ACCOUNT</h3></div>
                        <div>
                            <button mat-menu-item *ngFor="let item of signin1"><mat-icon>{{item.icon}}</mat-icon>{{item.name}}</button>
                            <mat-divider></mat-divider>
                            <button mat-menu-item *ngFor="let item of signin2"><mat-icon>{{item.icon}}</mat-icon>{{item.name}}</button>
                        </div>
                    </mat-menu>
                </div>
            </div>
            <div   fxLayout='row' class="main-content" fxLayoutGap.xs="column">
                <div fxFlex.gt-xs='6' class="side-content" fxLayout="column" fxLayoutAlign.gt-xs="start stretch" fxLayout.xs="row" fxLayoutAlign.xs="space-between end" fxFlex.xs="100" fxHide.xs >
                    <div class="side-item">
                        <ul class="sides">
                            <li class="side" *ngFor="let item of sides">
                                <a routerLink="/{{item.name|lowercase}}" routerLinkActive='active'><mat-icon>{{item.icon}}</mat-icon><br>{{item.name}}</a>
                            </li>                       
                        </ul>
                    </div>
                </div>
                <div fxFlex.gt-xs='94' class="main" fxFlex.xs="100">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <div fxHide.gt-xs class="footer-container">
                <div class="footer-content" fxLayout="row" fxLayoutAlign="space-around end" style="margin-top: 20px; text-align: center;">
                    <a href="" *ngFor="let item of sides"><p><mat-icon>{{item.icon}}</mat-icon><br>{{item.name}}</p></a>
                </div>
            </div>
            
          </mat-sidenav-content>
        </mat-sidenav-container>
        <div>
    </div>
</div>
 -->
 <div>

 </div>
